.animate {
    transition: transform 1s ease-in-out;
    transform: translateX(-400px) scale(0);
    opacity: 0;
    margin-left: 100px;
    margin-top:0px;
    height:300px;
  }
  

  .animate.animated {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  
  .content {
    transition: transform 1s ease-in-out;
    transform: scale(0);
    opacity: 0;
    margin-top: 30px;
  }
  
  .content.animated {
    transform: scale(1);
    opacity: 1;
  }
  .helpcontainer{
    display: flex;
  }
  @media only screen and (max-width: 800px) {
    .helpcontainer{
      display: block;
       max-width: 100%;
      margin: 0;
    }
    .content{
      margin:auto;
    }
   }
  